body {
    display: grid;
    place-items: center;
    background-color: #4d96df;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .wrapper {
    background-color: #fff9e6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 6rem;
    }
    p{
        font-size: .9rem
    }
    h2 {
    color: #4d96df;
    }